.container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    background-color: #1D1825;
    overflow-y: visible;

    .buttons {
        display: flex;
        flex-direction: column;

            .parent_button {
                margin-top: 68px;
                cursor: pointer;
            }


            button{
                cursor: pointer;
                padding: 10px;
                border: none;
                color: white;
                background-color:#9E78CF;
                transition: all 0.5s ease-in-out;
                
        
        }
        

        .open{
            opacity: 1;
        }
        .close {
            opacity: 0;
            background-color: transparent;

        }
    }
}