.container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    background-color: #1D1825;
    overflow-y: visible;

   
    .account_buttons {
        display: flex;
        flex-direction: column;
    }
        button{
        
            cursor: pointer;
            padding: 10px;
            border: none;
            color: white;
            background-color: transparent;   
            transition: all 0.3s ease-in-out;            
    }
    

            .parent_button {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: auto;
                cursor: pointer;
                padding: 20px;
                max-height: 50px;
            }
      
        .open_button {
            position: absolute;
            right: 5px;
            top: 55px;
            width: 60px;
            font-size: 14px;
            font-weight: 600;

            .open{
                opacity: 1;
                border: 1px solid #9E78CF; 
                border-radius: 7px;     
                color: #9E78CF;
                
            }
            .close {
                background-color: transparent;
                opacity: 0;
            }
        }
       
    }
